body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #141414;
    color: white;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        45deg,
        #333 0,
        #333 1px,
        #141414 1px,
        #141414 20px
    );
    z-index: -1;
}

.container {
    width: 300px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    text-align: center;
    margin: auto; /* Center the container horizontally */
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the input box and button */
}

#steamInput {
    width: 100%;
    padding: 5px; /* Updated padding */
    margin-bottom: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background: #222;
    color: white;
    font-size: 14px; /* Added font size */
}

#generateButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #3498db;
    color: white;
    cursor: pointer;
    font-size: 14px; /* Added font size */
}

#errorMessage {
    margin-top: 10px;
    text-align: center;
    color: red;
}

#output {
    margin-top: 20px;
}

.loading-circle {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
